<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Notes App is a web created for you to create, update, edit and delete notes so you avoid missing out in any of your tasks.<br>
            <br>
            Create an account and stop spending on post-its and having your desk full of little papers that get lost or make you even more confused.<br>
            <br>
            Notes App was created to make your life easier. <br>
            <br>
            Get on board for free and start creating your notes!
            <hr>
            <b>This app was created with Node.js, MongoDB, Handlebars, Passport, HTML, and Bootstrap as the main resources among others.</b>
        </p>
    </div>
</div>