<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quos earum ratione similique quaerat molestiae odio eveniet, optio quidem a voluptates saepe omnis aliquam odit cumque nemo consequatur dolor eligendi dignissimos facilis magnam impedit iure? Quam hic, suscipit id, corporis quis, laboriosam numquam eos error illo ratione fugit minus nostrum.</p>
    </div>
</div>