<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">Create your notes on an organized, non paper-consuming way!</p>
    <hr class="my-4">
    <p>Create an account for free to store your notes in a single spot and avoid missing out on any tasks.</p>
    <p>If you like this app feel free to explore our GitHub page for more useful projects:</p>
    <a href="http://github.com/dragope" class="btn btn-primary btn-lg">GitHub</a>
</div>