<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, accusamus cumque. Modi, odit optio adipisci consectetur nihil nisi ipsam ad, reprehenderit repellendus, unde hic accusantium ab quae culpa non odio!</p>
    <a href="http://github.com/dragope" class="btn btn-primary btn-lg">GitHub</a>
</div>